firstwebservice/WebContent/wsdl/EmployeeApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com" xmlns:intf="http://com" xmlns:tns1="http://model.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.com"/>
   <element name="getEmployeeById">
    <complexType>
     <sequence>
      <element name="empId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEmployeeByIdResponse">
    <complexType>
     <sequence>
      <element name="getEmployeeByIdReturn" type="tns1:Employee"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Employee">
    <sequence>
     <element name="emailId" nillable="true" type="xsd:string"/>
     <element name="empNo" type="xsd:int"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEmployeeByIdRequest">

      <wsdl:part element="impl:getEmployeeById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmployeeByIdResponse">

      <wsdl:part element="impl:getEmployeeByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeApp">

      <wsdl:operation name="getEmployeeById">

         <wsdl:input message="impl:getEmployeeByIdRequest" name="getEmployeeByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEmployeeByIdResponse" name="getEmployeeByIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeAppSoapBinding" type="impl:EmployeeApp">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEmployeeById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEmployeeByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEmployeeByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeAppService">

      <wsdl:port binding="impl:EmployeeAppSoapBinding" name="EmployeeApp">

         <wsdlsoap:address location="http://localhost:9090/firstwebservice/services/EmployeeApp"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
